@import "tailwindcss";

*{
    box-sizing: border-box;
}

@theme{
    --color-primary-color: #735e8a;
    --color-primary-color-hover: #b292d6;
    --color-secondary-color: #f5903e;
    --color-secondary-color-hover: #ffac3e;
    --color-default-primary: #ffffff;
    --color-default-secondary: #111111;
    --color-default-third: #e6e6e6;
    --color-tag-bg: #F5D167;
    --color-market-name: #F5A967;
}